spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/treemapper
    username: treemapper
    password: treemapper

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: true

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

app:
  storage:
    photosDir: ./data/photos
